<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<%-include('./partials/bootstrapStyles')-%>
<body>
    <%-include('./partials/Navbar')%>

    <div class="container w-50 mt-4" >
        <form action="/blog/create" method="post" enctype="multipart/form-data" >
            <div class="mb-3">
                <label  class="form-label">Attach Image</label>
                <input required name="file" type="file" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label class="form-label">Add Title</label>
              <input required name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label  class="form-label">Enter Blog Content</label>
              <textarea required name="content" type="text" class="form-control" id="exampleInputPassword1" style="height: 200px;"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Create Blog</button>
          </form>
    </div>





    <%-include('./partials/bootstrapScripts')-%>
</body>
</html>