<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<%-include('./partials/bootstrapStyles')-%>
<body>
    <%-include('./partials/Navbar')-%>
    

    <div class="container mt-4 text-center m-auto"style="max-width: 350px;">
        <form action="/user/authenticate" method="post">
        
            <h1 class="h3 mb-3 fw-normal">Log in</h1>
    
            <div class="form-floating my-4">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating my-4">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary w-50 py-2" type="submit">Sign in</button>
        </form>
    
    </div>

<%-include('./partials/bootstrapScripts')-%>

</body>
</html>