li{
    list-style: none;
}
.anchor{
    text-decoration: none;
    color: red;
}
body div.container p {
    margin: 0;
}
body div.container ul {
    margin: 0;
}
body div.container input{
    border-radius: 12px; border: 0px solid gray; outline: none; background-color: #efefef;
}

.red-bg-light{
    background-color: rgb(250, 67, 67);
}
.setBg{
    background-position: center;
    object-fit: cover;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    border-radius: 50%;

}
.blogUserImg{
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
